<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Basics</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Community Page</a>
                    <a href="/faq/" class="item ">FAQs</a>
                    <a href="/techie/" class="item">For Techie's</a>
                    <h4 class="ui inverted header">Media Inquiry</h4>
                    <a class="item">Publishers</a>
                    <a class="item">Advertisers</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Basics</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Community Page</a>
                    <a href="/faq/" class="item ">FAQs</a>
                    <a href="/techie/" class="item">For Techie's</a>
                    <h4 class="ui inverted header">Media Inquiry</h4>
                    <a class="item">Publishers</a>
                    <a class="item">Advertisers</a>
                </div>
            </div>
            <div class="four wide column ">
                <p>DIY Quick Videos!</p>
            </div>
        </div>
    </div>
</div>
